.menuHeader{
    background: #cacaca;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 4.2rem;
}

.ulHeader > * {
    color: red;
    margin: 0 0.5rem;
}

.mesParagraphe{
    color: blue;
}
