.page-article{
  padding: 5rem 10%;
  display: flex;
}
.article{
  /*border: red 1px solid;*/
  flex: 7;
  padding: 2rem;
}
.aside-droite{
  padding: 2rem 1rem;
  flex: 3;
  height: fit-content;
  min-width: 320px;
}
/*-------------En-Tete de l'article --------------*/
.banniere-article{
  width:  100%;
  box-shadow: 0 3px 18px -5px black;
  margin-bottom: 3rem;
  border-radius: 5px;
  overflow: hidden;

}
.banniere-article img{
  width:  100%;
  height: auto;
}
.main-title{
  font-size: 2.2rem;
  color: black;
}
.under-title{
  font-size: 1.1rem;
  color: var(--orange-color);
  margin-bottom: 4rem;
}
/*-------------Corp de l'article --------------*/
.apercuArticle {
  color: var(--gris-claire-color);
  text-align: justify;
}
.apercuArticle h2{
  color: var(--blue-fonce-color);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.apercuArticle h3{
  color: #25a2ff;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.apercuArticle figure{
  width: 100%;
}
.apercuArticle figure img{
  width: 100%;
  height: auto;
}
.apercuArticle figure.image-style-side{
  width: 40%;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  height: auto;
  float: right;
}
/*------------------aside-droit-----------------------*/
